@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
    
}
/* Header style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 70px;
}
.navbar h1{
    font-size: 32px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}
.navbar button{
    border: 1px solid #006A50;
    color: #006A50;
    border-radius: 8px;
    padding:15px 30px;
    font-weight: bold;
    background-color: white;
}
/* banner style */
.banner{
    background-color: #dff0e7;
    position: relative;
    /* padding: 40px; */
    border-radius: 24px;
    width: 1280px;
    height: 560px;
    margin: 0 auto;
    
}
.banner img{
    max-width: 100%;
    height: auto;
    margin-left: 60%;
    margin-top: 100px;
    
}
.banner-text{
    position: absolute;
    top: 0;
    width: 622px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 30px;
    
}
.banner-text p{
    font-size: 24px;
    font-family: "Fira Sans", serif;
    color: gray;
    /* margin-bottom: 16px; */
    
}
.banner-text h1{
    font-size: 56px;
    font-family: "Fira Sans", serif;
}
.banner-text button{
    font-size: 18px;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
    

}
/* banner style end */

/* Pillars style start */
.card-container{
    display: flex;
    justify-content: space-between;
     
}
.card-section{
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}
.card-section h1{
    color: #0E0E0E;
    font-size: 40px;
    font-family: "Fira Sans", serif;
    

}
.card-container div{
    width: 302px;
    border-radius: 16px;
    background-color: white;
    padding: 10px 0 0 10px;
    gap: 24px;
    
}
.card h5{
    font-size: 20px;
}
.card p{
    font-size: 16px;
    color: #0E0E0E;
}
/* pillar section style end  */

/* Vision of future style start  */
.box-container{
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}
.box-container h1{
    font-size: 40px;
}
.box-container .box-description{
    color: rgb(14, 14, 14,70%);
    font-size: 16px;
}
.box-card{
    display: flex;
    justify-content: space-between;
    
}
.box{
    width: 400px;
    border-radius: 16px;
    /* padding: 10px 0 0 10px; */
    padding: 20px 10px ;  
    
}
.box-title{
    color: rgb(14, 14, 14,80%);
}
.box-description{
    color: rgb(14, 14, 14,70%);
}
.box1{
    background-color: rgb(84, 144, 245,20%);
}
.box2{
    background-color: rgb(198, 228, 214,100%);
}
.box3{
    background-color: #F7EBCF;
}
.box1 button{
    background-color: #5490F5;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.box2 button{
    background-color: #09A15C;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;

}
.box3 button{
    background-color: #FFC239;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
/* Vision of future style end  */

/* News style start */
.news-container{
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}
.news p{
    color: rgb(14, 14, 14,70%);
}
.news-card{
    display: flex;
    gap: 32px;
    background-color: white;
    border-radius: 24px;
    padding: 20px 0 20px 20px;
    
    
}
.satelite {
    width: 408px;
    border-radius: 24px;
    
}
.satelite-info{
    width: 744px;
    margin: 0 auto;
}
.news-card-title{
    color: rgb(14, 14, 14,80%);
}
.news-card-description{
    color: rgb(14, 14, 14,70%);
}
.color70{
    color: rgb(14, 14, 14,70%);
    
}
.satelite-info img{
    margin-bottom:  20px; ;
}
/* news button */
.btn{
    background-color: #006A50;
    padding: 13px 26px;
    color: white;
    border-radius: 8px;
    border: none;
}
.news-second-card{
    display: flex;
    background-color: white;
    border-radius: 24px;
    margin-top: 24px;
    padding: 20px 20px 20px 0;
}
/* News style end */

/* Donate style start  */
.donate-container{
    text-align: center;
    width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}
.donate-section h2{
    font-size: 40px;
}
.donate-section p{
    width: 1104px;
    margin: 0 auto;
}
.donate-btn{
    width: 1071px;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-around; */
    
    
    
}
.donate-btn button{
    margin-top: 32px;
    width: 240px;
    color:rgb(14, 14, 14,80%);
    font-size: 40px;
    font-weight: bold;
    padding: 10px 5px;
    background-color: white;
    border-radius: 16px;
    border: none;
    margin-right: 20px;
}
.donate-btn button:hover{
    background-color: #C6E4D6;
}
.enter-amount input{
    width: 1032px;
    margin: 0 auto;
    padding: 13px;
    margin-top: 20px;
    border: none;
}
.done-btn button{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    padding: 20px;
    
}
/* donate style end */

.newsletter-container{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    background-color: #C6E4D6;
    padding: 25px 0;
    border-radius: 24px;

}
.newsletter{
    width: 750px;
    margin: 0 auto;
}
.newsletter p{
    color: rgb(14, 14, 14,70%);
}
.enter{
display: flex;
justify-content: center;
}
.enter input{
    width: 600px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    border: none;
}

footer{
    text-align: center;
    margin-top: 70px;
    background-color: white;
    padding: 20px;
}

